body {
  background-image: linear-gradient(190deg, #4da7b6, #dce8f0);
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  height: 100%;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
  color: #3D5559;
  letter-spacing: 0.025em;
}

a, a:hover{
color: inherit;
text-decoration: none;
}

section {
  /* Das es immer zentriert ist */
  /* Begrenzung auf max. Bildschirmgröße */
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}
