
.contsiner_SectionOne {
  position: absolute;
  align-items: flex-start;
  padding: 0 3.9rem 0 3.9rem;
  max-width: 78.125rem;
}


.intruduction h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #3E5659;
  letter-spacing: 0.025em;
  padding-bottom: 1rem;
}

.actionTitle h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #3E5659;
  line-height: 4.25rem;
  letter-spacing: 0.05rem;
}




/* Start of Scroll-Animation */
.scrollAnimationKC {
  position: absolute;
  bottom: 3%;
  left: 50vw;
  width: fit-content;
}

.scroll{
    width: 40px;
    height: 60px;
    position: relative;

    cursor: pointer;
    margin-top: -25px;
    margin-left: -15px;
}
.scroll .mouse{
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 0;
    left: 0; */
    display: block;
    border: 2px solid #272727;
    border-radius: 20px;
}
.scroll .wheel{
    width: 5px;
    height: 5px;
    top: 10px;
    left: 50%;
    position: absolute;
    background: #272727;
    display: block;
    border-radius: 50%;
    margin-left: -2px;
    animation-name: scroll-wheel;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 10;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}
