.SFour-FooterFitter {
  flex: 1;
}

.SFour-FooterTitel h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #3D5559;
  letter-spacing: 0.025em;
  margin-bottom: 0px;

}

.SFour-FooterTitel {
  margin: calc(72px - 24px) 0 12px 0;
  display: flex;
  justify-content: center;
}

/* Start SocialIcons */
.SFour-FooterSocialIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px 0 12px 0;
}

.SFour-SocialIconContainer {
  margin: 0 5px;
  height: 30px;
}

.SFour-FooterSocialContainer {
  padding-bottom: 12px;
}

.HrSTFour-icon {
  margin: 0px 40% 0 40%;
}

/* Anpassungen für XingIcon */
.SocialIcon {
  height: 28px;
}

.SFour-SocialIconContainer:nth-child(3) {
  display: flex;
  align-items: flex-end;
}

/* End SocialIcons */
/* CopyRight Start */
.copyRight {
  text-align: center;
  margin-top: 24px;
}

.copyRight p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #3D5559;
  letter-spacing: 0.025em;
  margin-bottom: 0px;
}

/* CopyRight End */
@media screen and (max-width: 992px) {
  .HrSTFour-icon {
    margin: 0px 35% 0 35%;
  }
}

@media screen and (max-width: 768px) {
  .HrSTFour-icon {
    margin: 0px 30% 0 30%;
  }
}
