.scroll-container {
  position: relative;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

}

.scroll-container section {
  min-height: calc(100vh - 64px);
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Das es immer zentriert ist */
  /* Begrenzung auf max. Bildschirmgröße */
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;

}

.scroll-container section:nth-child(1){
  position: relative;
  justify-content: flex-start;
}
.scroll-container section:nth-child(3){
  align-items: normal;
}
.scroll-container section:nth-child(4){
  min-height: 5rem;
}



/* flex: 1 damit das Div den gesamten Flex-Container füllt. Hier wird aus der Section 2 das erste Div ausgewählt */
.scroll-container section:nth-child(2) > div:first-of-type {
  flex: 1
}
.scroll-container section:nth-child(3) > div:first-of-type {
  flex: 1
}

@media screen and (max-width: 768px){
    .scroll-container section {
      scroll-snap-align: none;
    }
  }
