.container-fluid {
  /* davor war hier 100rem */
  max-width: 100%;
  padding: 3%;
}

.container-fluid .row {
  min-height: 50%;
  margin: 0;
  max-width: 100%;
}

.cardsection {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  border: 2px solid #3E5659;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  margin: 0;
  /* damit die Crads mind. alle gleich sind. Also alle gleich 100% height: und width benötigen */
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 2px 0px #445e61;
}

.cardsection img {
  height: 240px;
  width: 360px;
}

.row .col-md-6 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 1.5rem;
}

.cardsection h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #3E5659;
  letter-spacing: 0.025em;
  /* margin-bottom: 0.625rem;
  margin-top: 0.625rem; */
  margin: 1rem 0 2.5rem 0;
}

.cardsection h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #3E5659;
  letter-spacing: 0.025em;
}

/* Card specific CSS */
.cardOneActivOverlay {
  background-color: #FFE0A3;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column !important;
  padding: 0 3rem 0 3rem;
  width: 100%;
}

.cardsection .cardOneActivTitel h4 {
  margin: 72px 0 12px 0;
  font-weight: 600;
}

.cardsection .cardOneActivContent h3 {
  /* margin-left: 3rem; */
  line-height: 36px;
  letter-spacing: 0.04rem;
  font-size: 25px;
  margin-bottom: 12px;
}

.STwo-cardsection-Fitter {
  display: flex;
  flex-direction: column !important;
  padding: 0px 2.5rem 0 2.5rem;
  flex: 1;
}

.cardOnePicture {
  margin: 4rem 0 0.5rem 0;
}

.cardOneTitel {
  border-top: 1px solid rgb(116, 160, 166);
}



/* Screen >md aber <lg */
@media screen and (max-width: 992px) {
  .cardsection h4 {
    font-size: 32px;
  }

  .cardsection img {
    height: 12rem;
  }
}

/* Screen <medium */
@media screen and (max-width: 768px) {

  /* Man braucht eine vorgegebene Höhe sobald eine Zelle auch eine Row is, sonst passt der Kontext sich immer an und ist zu Card Active / unactive unterschiedlich */
  .cardsection {
    height: 25rem;
  }

  .cardsection .cardOneActivTitel h4 {
    font-size: 32px;
    line-height: 42px;
  }

  .cardsection .cardOneActivContent h3 {
    font-size: 25px;
    line-height: 36px;
  }

  .cardsection h4 {
    font-size: 32px;
  }
}
